@media screen and (max-width: 479px){
    #wrapper{
        width: 200px;
    }
    .header{
        width: 200px;
        height: 200px;
    }
    .left{
        width: 200px;
        height: 100px;
    }
    .right{
        width: 200px;
        height: 210px;
    }
    .footer{
        width: 200px;
    }
    .header-main{
        margin: 20px 70px 20px 70px;
        width: 60px;
        height: 160px;
    }
    .box1{
        margin: 10px 70px 110px 10px;
    }
    .box2{
        margin: 60px 10px 60px 10px;
    }
    .box3{
        margin: 110px 10px 10px 10px;
    }
    .box4{
        margin: 20px 30px 140px 30px;
    }
    .box5{
        margin: 80px 30px 80px 30px;
    }
    .box6{
        margin: 140px 30px 20px 30px;
    }
}