@charset "UTF-8"
 @media screen and (max-width:767px){
    .left{
        width: 100px;
} 
    .header{
        width: 300px;
    }
    .right-left{
        width: 125px;
    }
    .right-right{
        width: 75px;
    }
 }
@media screen and(max-width:479px) {
    .wrapper{
        width: 150px;
    }
}